{# templates/eleve/mes_eleves.html.twig #}
{% extends 'accueil/accueil_uti.html.twig' %}

{% block title %}Mes Élèves{% endblock %}

{% block body %}
<div class="content">
    <h1>Mes Élèves</h1>
    <ul>
        {% for eleve in eleves %}
            <li>{{ eleve.nom }} {{ eleve.prenom }}</li>
        {% else %}
            <li>Aucun élève trouvé.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}