/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f7f6;
    color: #333;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Container */
.container {
    transform: scale(0.95);
    max-width: 500px;
    width: 100%;
    background-color: #181b22;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-size: 1rem;
    color: white;
    margin-bottom: 5px;
}

form input, form select {
    padding: 12px;
    border-radius: 20px;
    border: 1px solid transparent;
    font-size: 1rem;
    color: white;
}

form input:focus, form select:focus {
    border-color: #252925;
    outline: none;
}

input {
    background-color: #313237;
    width: 100%;
    height: 50px;
}

/* Error messages */
form .form-errors {
    color: #d9534f;
    font-size: 0.875rem;
    margin-bottom: 10px;
}

/* Submit Button */
button[type="submit"] {
    padding: 14px;
    background-color: #0A0D12;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 17px;
    transition: background-color 0.1s ease;
}

button[type="submit"]:hover {
    background-color: #0f1014;
}

button[type="submit"]:active {
    background-color: #0f1014;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    h1 {
        font-size: 1.5rem;
    }
}

/* Styling for the terms and conditions checkbox */
input[type="checkbox"] {
    margin-right: 10px;
}

label[for="agreeTerms"] {
    font-size: 0.9rem;
    color: white;
}

input::placeholder {
    color: #a0a1a3;
    font-size: 14px;
}


p {
    color: white;
}

p a {
    color: #a0a1a3;
    text-decoration: underline;
}


form select {
    color: #a0a1a3;
    background-color: #313237;
    width: 100%;
}


/* Personnaliser la case à cocher */
input[type="checkbox"] {
    margin-top: -33px; 
    margin-left: 17px; /* Espacement entre la case à cocher et le texte */
    transform: scale(0.3); /* Agrandir la case à cocher */
    cursor: pointer; /* Pour le curseur en forme de main */
}

/* Si vous souhaitez personnaliser le texte de l'accord */
.agreeTermsLabel {
    font-size: 1rem;
    color: #666; /* Couleur du texte */
    margin-right: 10px; /* Espacement entre le texte et la case */
}