<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN INSTRUMENT</h5>

    <table >
        <tr><td>Id : </td><td>{{instrument.id}} </td></tr>
        <tr><td>Nom : </td><td>{{instrument.libelle}}</td>
    </table>
	
	 
    </body>
</html>